<html lang="pt-br">
	<head th:replace="~{base :: head}"></head>
<body>

	<div th:replace="~{base :: logo}"></div>
			
	<div class="container ">
	
		<nav class="navbar navbar-dark bg-dark navbar-expand d-flex justify-content-between mb-3">
			
      			<div class="navbar navbar-nav ">
      				
      					<a class="nav-item nav-link" th:href="@{/home}">Todos</a>
          				<a class="nav-item nav-link" th:href="@{/home/aguardando}">Aguardando</a>
        				<a class="nav-item nav-link" th:href="@{/home/aprovado}">Aprovado</a>
          				<a class="nav-item nav-link" th:href="@{/home/entregue}">Entregue</a>	
          			
      			</div>
      			
      			<div style="padding-right: 10px">
      				<a th:href="@{/pedido/novo}"><button class="btn btn-outline-light">Novo</button>	</a>
      			</div>
      			
      					
		</nav>
		
		<div class="card">
			<div class="card-body" style="text-align: center">
				<h4>Nao possui nenhum pedido.</h4>
			</div>
		</div>
	</div>
</body>
</html>